$site-font:  'Droid Sans', sans-serif;

$color-red : #fe5943;
$color-green: #10a461;
$color-blue: #1d63d3;
$color-yellow: #F28F22;
$color-primary: $color-blue;

//mixins
@mixin HoverBackgroundColors($color){
	background-color: lighten($color, 5) !important;
}

*{
	font-family: $site-font;
	margin: 0;
	box-sizing: border-box;
	outline: none !important;
	font-size: 14px;
	color: #2B2D42;

	-o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.background-red{background-color: $color-red !important;}
.background-green{background-color: $color-green !important;}
.background-blue{background-color: $color-blue !important;}
.background-yellow{background-color: $color-yellow !important;}

.background-red:hover{@include HoverBackgroundColors($color-red);}
.background-green:hover{@include HoverBackgroundColors($color-green);}
.background-blue:hover{@include HoverBackgroundColors($color-blue);}
.background-yellow:hover{@include HoverBackgroundColors($color-yellow);}


label{
	display: inline-block;
	width: 100%;
	font-weight: 500;
	font-size: 12px;
	color: #555;
	text-transform: uppercase;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number]{
	display: inline-block;
	width: 300px;
	padding: 10px 20px;
	border: none;
	background-color: #EDF2F4;
	border-bottom: 1px dotted transparent;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus{
	border-color: $color-primary;
}


.button,
input[type=button],
button{
	display: inline-block;
	width: auto;
	min-width: 120px;
	text-align: center;
	text-transform: capitalize;
	padding: 10px 20px;
	background-color: $color-primary;
	color: #EDF2F4;
	border: none;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.button:hover,
input[type=button]:hover,
button:hover{
	@include HoverBackgroundColors($color-primary);
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.button.fullWidth,
input[type=button].fullWidth,
button.fullWidth{
	min-width: 100%;
	padding: 15px 20px;
}

